<div class="main-container">
    <div class="main-wrapper">
        <div class="row">
            <div class="col-4">
                <mat-card class="example-card">
                    <mat-card-header>
                      <mat-card-title>{{newstitle}}</mat-card-title>
                    </mat-card-header>
                    <mat-card-subtitle>Description</mat-card-subtitle>
                    <mat-card-content>
                      <p>
                       {{description}}
                      </p>
                    </mat-card-content>
                    <mat-card-subtitle>New Url</mat-card-subtitle>
                    <mat-card-content>
                      <a href={{this.newsurl}}>
                       New Url
                      </a>
                    </mat-card-content>
                  </mat-card>
            </div>
            
        </div>
        </div>
</div>

