@import"../../assets/ext_css/variables.scss";
@import"../../assets/ext_css/common.scss";
table {
    overflow: scroll;
    width: 0%;
  }
  
  .example-detail-row {
    min-height: 0;
  }
  
  .example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  .example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }
  
  .buy{
    
  }
 :host ::ng-deep app-button .my-btn.raised-secondary-btn.buy{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 5px;
    margin: 20px 30px;
  }
  :host ::ng-deep app-button .my-btn.raised-secondary-btn.sell{
    background-color: #dc0e0b; /* Green */
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 5px;
    margin: 20px 30px;
  }
  :host ::ng-deep app-button .my-btn.raised-secondary-btn.view-chart{
    background-color:#efefef; /* Green */
    border: none;
    color: burlywood;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 5px;
    margin: 20px 30px;
  }

  :host ::ng-deep app-button .my-btn.raised-secondary-btn.deletchart{
    background-color:#fffefe; /* Green */
    border: none;
    color: rgb(4, 0, 0);
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 5px;
    margin: 20px 30px;
  }

  